<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>口袋小助手设置</title>
  <script src="https://cdn.staticfile.net/vue/2.7.16/vue.min.js"></script>
  <script src="ui.config.js"></script>
  <style>
    body {
      font-family: Arial, sans-serif;
      /* font-size: 12px; */
    }
    .container {
      width: 90%;
      margin: 0 auto;
    }
    .tabs {
      display: flex;
      cursor: pointer;
      margin-bottom: 1rem;
    }
    .tab {
      padding: 1rem;
      border: 1px solid #ccc;
      margin-right: 0;
    }
    .active {
      background-color: #009688;
      color: white;
    }
    .content {
      border: 1px solid #ccc;
      padding: 1rem;
    }
    .checkbox-group,
    .input-group {
      margin-bottom: 1rem;
    }
    .checkbox-group label,
    .input-group label {
      margin-left: 0.5em;
    }
    .short-input {
      width: 3em;
    }
    .hunt-item-label {
      display: inline-block;
      width: 6.5em;  /* 根据最长的标签调整宽度 */
      text-align: left;
    }
  </style>
</head>
<body>
  <div id="app" class="container">
    <div class="tabs">
      <div v-for="(tab, index) in tabs" :key="index" @click="selectTab(index)" :class="['tab', { active: currentTab === index }]">
        {{ tab }}
      </div>
    </div>
    <div class="content" v-if="currentTab === 0">
      <!-- <h3>打野</h3> -->
      <div class="checkbox-group">
        <span class="hunt-item-label">
          <label><input type="checkbox" v-model="config.soloHunt.enabled" @change="saveConfig"> 单刷</label>
        </span>
        <label>次数</label>
        <input type="number" class="short-input" v-model="config.soloHunt.times" @change="saveConfig">
        <label>编队</label>
        <select v-model="config.soloHunt.formationNum" @change="saveConfig">
          <option v-for="option in formationOptions" :key="option">{{ option }}</option>
        </select>
        <label>敌军</label>
        <select v-model="config.soloHunt.type" @change="saveConfig">
          <option v-for="option in soloHuntEnemyOptions" :key="option">{{ option }}</option>
        </select>
        <label>方式</label>
        <select v-model="config.soloHunt.attackType" @change="saveConfig">
          <option v-for="option in soloHuntAttackTypeOptions" :key="option">{{ option }}</option>
        </select>
      </div>
      <hr>
      <div class="checkbox-group">
        <span class="hunt-item-label">
          <label><input type="checkbox" v-model="config.rallyHunt.enabled" @change="saveConfig"> 集结</label>
        </span>
      </div>
      <div class="checkbox-group" v-for="(item, key) in rallyHuntItems" :key="key">
        <span class="hunt-item-label">
          <label><input type="checkbox" v-model="config.rallyHunt[key].enabled" @change="saveConfig"> {{ item.label }}</label>
        </span>
        <label>次数</label>
        <input type="number" class="short-input" v-model="config.rallyHunt[key].times" @change="saveConfig">
        <label>编队</label>
        <select v-model="config.rallyHunt[key].formationNum" @change="saveConfig">
          <option v-for="option in formationOptions" :key="option">{{ option }}</option>
        </select>
      </div>
    </div>
    <div class="content" v-if="currentTab === 1">
      <!-- <h3>跟车</h3> -->
      <div class="checkbox-group">
        <span class="hunt-item-label">
          <label><input type="checkbox" v-model="config.getInBus.enabled" @change="saveConfig"> 开启跟车</label>
        </span>
        <label>编队</label>
        <select v-model="config.getInBus.formationNum" @change="saveConfig">
          <option v-for="option in formationOptions" :key="option">{{ option }}</option>
        </select>
      </div>
      <div class="checkbox-group" v-for="(item, key) in getInBusItems" :key="key">
        <span class="hunt-item-label">
          <label><input type="checkbox" v-model="config.getInBus[key].enabled" @change="saveConfig"> {{ item.label }}</label>
        </span>
        <label>次数</label>
        <input type="number" class="short-input" v-model="config.getInBus[key].times" @change="saveConfig">
      </div>
    </div>
    <div class="content" v-if="currentTab === 2">
      <!-- <h3>热门活动</h3> -->
      <div class="checkbox-group">
        <label><input type="checkbox" v-model="config.events.oceanTreasure.enabled" @change="saveConfig"> 深海寻宝</label>
        <label>探测器数量</label>
        <select v-model="config.events.oceanTreasure.detectorNum" @change="saveConfig">
          <option v-for="option in detectorNumOptions" :key="option">{{ option }}</option>
        </select>
      </div>
    </div>
    <div class="content" v-if="currentTab === 3">
      <!-- <h3>日常</h3> -->
      <div class="checkbox-group">
        <label><input type="checkbox" v-model="config.collectCoins" @change="saveConfig"> 领取金币</label>
      </div>
      <div class="checkbox-group">
        <label><input type="checkbox" v-model="config.expedition" @change="saveConfig"> 远程行动</label>
      </div>
    </div>
  </div>
  
  <script>
    new Vue({
      el: '#app',
      data: {
        currentTab: 0,
        tabs: ['打野', '跟车', '热门活动', '日常'],
        formationOptions: formationOptions,
        soloHuntEnemyOptions: soloHuntEnemyOptions,
        soloHuntAttackTypeOptions: soloHuntAttackTypeOptions,
        detectorNumOptions: detectorNumOptions,
        rallyHuntItems: rallyHuntItems,
        getInBusItems: getInBusItems,
        config: initialConfig
      },
      created() {
        this.loadConfig();
      },
      methods: {
        selectTab(index) {
          this.currentTab = index;
        },
        saveConfig() {
          Android.saveScriptConfig(JSON.stringify(this.config));
        },
        loadConfig() {
          const savedScriptConfig = Android.loadScriptConfig();
          if (savedScriptConfig) {
            this.config = JSON.parse(savedScriptConfig);
          }
        }
      },
      watch: {
        config: {
          handler: 'saveConfig',
          deep: true
        }
      }
    });
  </script>
</body>
</html>
